<div class="page-container">

    <!--Big Logo and Title-->
    <div class="header-container">
            <div>
                <img src="../assets/sprite_portrait.png" class="logo">
            </div>
            <div class="header-container">
                <h1 class="page-header mat-display-3 ">BRENAN WAYLAND</h1>
                <h2 class="mat-h2">DEVELOPER</h2>
            </div>
    </div>
    <mat-divider></mat-divider>

    <!--Navbar-->
    <div mat-primary>
        <mat-toolbar class="navbar mat-typography">
            <button mat-button class="nav-btn" routerLink="/" *ngFor="let tab of navTabs">
                {{ tab.title | uppercase }}
            </button>
        </mat-toolbar>
    </div>

    <!--current page-->
    <div>
        <router-outlet></router-outlet>
    </div>

</div>
