.page-container {
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.sub-page-container {
    margin-left: 10px;
    margin-top: 20px;
    margin-right: 10px;
}

.nav-btn {
    font-size: 12pt;
}

.header-container {
    text-align: center;
}

.page-header {
    padding-top: 20px;
    margin: 0px,0px,0px,0px;
}

.page-subheader {
    margin-top: 0px;
}

.logo {
    //float: center;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.row {
    flex-direction: row;
}

.card-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.card-row-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    height: auto;
}

.card-row-item span {
    text-align: center;
}

.card-row-item-actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
}

.card-row-item-button {
    flex-grow: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-end;
}

.center-text {
    text-align: center;
}

.justified-text {
    text-align: justify;
}
