@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Questrial|Cairo');


@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
  $font-family: 'Cairo, sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

@include angular-material-typography($custom-typography);

.page-container {
}

.header-container {
    text-align: center;
}

.page-header {
    margin-top: 10px;
    margin-bottom: 10px;
}

.page-subheader {
}

.logo {
    //float: center;
}

.container {

}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

.row {
    flex-direction: row;
}
